@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-style: 400;
  font-weight: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.woff') format('woff'),
       url('../fonts/Ubuntu-Bold.woff2') format('woff2');
  font-style: 900;
  font-weight: normal;
}