<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item">
        <h3 class="footer__item-title">Режим работы</h3>
         <div class="footer__item-icons">
           <div class="footer-map">
            <span>
              <svg class="">
                <use xlink:href="assets/images/sprite.svg#map"></use>
              </svg>
              <p class="footer-map__descr" >пн-пт c 10-00 - 18-00;
                перерыв с 13-00 до 14-00
                сб-вс выходной день.</p>
            </span>
           </div>
         </div> 
      </div>
      <div class="footer__item">
        <h3 class="footer__item-title">Мы в соцсетях</h3>
        <ul class="footer__social-list">
          <li class="list-reset footer__social-item">
           <a class="footer__social-link" href="#" target="_blank">
            <svg class="">
              <use xlink:href="assets/images/sprite.svg#vk"></use>
            </svg>
           </a>
          </li>
          <li class="list-reset footer__social-item">
           <a class="footer__social-link" href="#" target="_blank">
            <svg class="">
              <use xlink:href="assets/images/sprite.svg#ok"></use>
            </svg>
           </a>
          </li>
          <li class="list-reset footer__social-item">
           <a class="footer__social-link" href="#" target="_blank">
            <svg class="">
              <use xlink:href="assets/images/sprite.svg#telegram"></use>
            </svg>
           </a>
          </li>
          <li class="list-reset footer__social-item">
           <a class="footer__social-link" href="#" target="_blank">
            <svg class="">
              <use xlink:href="assets/images/sprite.svg#whatsapp"></use>
            </svg>
           </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <div class="footer__btn">
          <button class="btn footer__button" type="button">Заказать звонок</button>
        </div>
      </div>
    </div>
  </div>
</footer>