<header class="header">
  <div class="container">
   <div class="header__inner">
     <div class="header__logo header-logo">
       <a href="#"><img class="header-logo__img" src="assets/images/logo.png" alt=""></a>
     </div>
     <nav class="nav">
       <ul class="nav__list list-reset">
         <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
         <li class="nav__item"><a href="#" class="nav__link">Наши услуги</a></li>
         <li class="nav__item"><a href="#" class="nav__link">Сервисный центр</a></li>
         <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
       </ul>
     </nav>
     <button class="burger" type="button">
      <span>Открыть навигацию</span>
    </button>
   </div>
  </div>
</header>