<section class="section section-contacts" id="contacts">
  <div class="container">
    <div class="section-contacts__inner">
      <div class="section-contacts__col">
        <div class="section-contacts__inner">
          <div class="section-contacts">
            <h3 class="section-contacts__title">Контакты</h3>
            <div class="section-contacts__icons">
              <span>
                <svg class="">
                  <use xlink:href="assets/images/sprite.svg#phone"></use>
                </svg>
                <a class="section-contacts__link" href="tel:89999228899">8(9999)
                  22-88-99</a>
              </span>
              <span>
                <svg class="">
                  <use xlink:href="assets/images/sprite.svg#email"></use>
                </svg>
                <a href="mailto:itech@company.pro">itech@company.pro</a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="section-contacts__col">
        <h3 class="section-contacts__form-title">Связаться с нами</h3>
        <div class="success__contacts">
          <p class="success__text">В ближайшее время наши специалисты с вами свяжутся</p>
        </div>
        <form action="#" class="form">
          <label class="form__label">
            <input type="text" name="Имя" class="input-reset form__input input-name" placeholder="Имя" required>
          </label>
          <label class="form__label">
            <input type="email" name="E-mail" class="form__input input-email" placeholder="E-mail" required>
          </label>
          <textarea class="form__textarea" name="mess" placeholder="Ваше сообщение" required></textarea>
          <button class="btn form__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>