<section class="section section-guarantee">
  <div class="container">
    <div class="section-guarantee__inner">
      <div class="section-guarantee__item">
        <img src="assets/images/guarantee/guarantee.jpg" alt="" class="section-guarantee__img">
      </div>
      <div class="section-guarantee__item">
        <div class="section-guarantee__text">
          <h3 class="section-guarantee__title">Сервисный центр по ремонту ноутбуков и телефонов — преимущества и
            гарантии</h3>
          <p class="section-guarantee__descr">Немедленно позвоните в сервисный центр. Проникновение жидкости внутрь уже
            произошло, а значит процесс окисления контактов и коррозии уже начался. На какой стадии удастся его
            остановить во многом зависит от того, насколько быстро за дело возьмутся специалисты.</p>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>