<section class="section services">
  <div class="container">
    <div class="section-header">
      <h3 class="section-header__title">Услуги</h3>
    </div>
    <div class="services__inner">
      <div class="services__item">
        <div class="services__text">
          <img src="assets/images/services/services-1.jpg" alt="" class="services__img">
          <h3 class="services__title">Ремонт iPhone</h3>
          <p class="services__descr">В Нижнем Новгороде с 12:00 до 22:00 работает сервис по ремонту
            iPhone (модель iPhone любая!) высококачественное обслуживание. Быстро, удобно и без проблем. При
            этой услуги действует бесплатная диагностика iPhone. Делаем все аккуратно и без последствий.
            Работают профессионалы</p>
          <div class="price__row">
            <span class="price">1000 руб</span>
            <button class="btn price__btn">Отправить заявку</button>
          </div>
        </div>
      </div>

      <div class="services__item">
        <div class="services__text">
          <img src="assets/images/services/services-2.jpg" alt="" class="services__img">
          <h3 class="services__title">Ремонт компьютеров</h3>
          <p class="services__descr">Ремонт компьютера по доступной цене. Сотрудник в день поступления высшего звонка,
            приступает к своим прямым обязанностям. Гарантируем качество ремонта. Ремонту подвергается все изъяны,
            устронения неполадок ПК любой сложности. Предлагаем провести бесплатную диагностику</p>
          <div class="price__row">
            <span class="price">1000 руб</span>
            <button class="btn price__btn">Отправить заявку</button>
          </div>
        </div>
      </div>
      <div class="services__item">
        <div class="services__text">
          <img src="assets/images/services/services-3.jpg" alt="" class="services__img">
          <h3 class="services__title">Сборка компьютеров</h3>
          <p class="services__descr">Принимает от самого лёгкого до самого сложного. Наш Нижегородский сервер
            осуществляет множество операций: ремонт компьютерной техники, замена каких-либо частей,
            усовершенствование</p>
          <div class="price__row">
            <span class="price">1000 руб</span>
            <button class="btn price__btn">Отправить заявку</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>